#row-container {
    height: 80vh;
}

#map-container {
    height: 80vh;
}

#hidden-wrapper {
    display: none;
}

#form-container {
    width: 400px;
}

#map {
    height: 100%;
}

@media (max-width: 575.98px) {
    #form-container {
        width: 270px;
    }
}
