{{ define "index" }}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/index.css">
    <title>Food chooser</title>
</head>

<body>
    <div class="container">
        <div id="row-container" class="row" style="height: 80vh;">
            <div class="col my-auto">
                <div id="form-container" class="mx-auto">
                    <div class="input-group">
                        <input class="form-control" type="text" name="request" id="request_field" placeholder="Что поесть?">
                        <button id="search_btn" class="ml-2 btn btn-success" type="button" onclick="showMap()">Поиск</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-1">
        <div id="map-container">
            <div id="map"></div>
        </div>
    </div>

    <script src="../assets/js/index.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjlaVCKC9i-xPZRNuKFAHBPNukxOaGE_o&callback=initMap ">
    </script>

</body>

</html>
{{ end }}